body {
    background: #000022;
    margin: 0;
    overflow: hidden;
    color: whitesmoke;
}

.obj {
    min-width: 2px;
    position: absolute;
    background: bisque;
    border-radius: 50%;
}

.path {
    width: 2px;
    height: 2px;
    background: darkred;
    position: absolute;
}

#right-inputs-block {
    float: right;
    padding: 10px;
}

#right-inputs-block input {
    width: 64px;
}

#speedPos {
    width: 4px; 
    height: 4px;
    position: absolute;
    background: gold;
}