body {
    background: #000022;
    margin: 0;
    overflow: hidden;
    color: whitesmoke;
}

.obj {
    min-width: 2px;
    position: absolute;
    background: bisque;
    border-radius: 50%;
/*    -webkit-box-shadow: inset -1px -1px 3px 1px rgba(92,51,0,0.5);
    -moz-box-shadow: inset -1px -1px 3px 1px rgba(92,51,0,0.5);
    box-shadow: inset -1px -1px 3px 1px rgba(92,51,0,0.5);*/
}

.path {
    width: 1px;
    height: 1px;
    background: darkred;
    position: absolute;
}

#right-inputs-block {
    float: right;
    padding: 10px;
}

#right-inputs-block input {
    width: 64px;
}

#speedPos {
    width: 2px; 
    height: 2px;
    position: absolute;
    background: gold;
}