body {
    /*background: black;*/
    margin: 0;
    overflow: hidden;
}

.obj {
    min-width: 2px;
    position: absolute;
    background: black;
    border-radius: 50%;
}

#right-inputs-block {
    float: right;
    padding: 10px;
}

#right-inputs-block input {
    width: 64px;
}

#speedPos {
    width: 4px; 
    height: 4px;
    position: absolute;
    background: gold;
}